html, body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial;
    color: #454545;
    font-size: 14px;
    /*width: 100%;*/
    /*display: table;*/
}

h1 {
    font-weight: 100;
    font-family: 'Lato';
    font-weight: bold;
    font-size: 2em;
    color: #ED8B2F;
}

.container {
    margin-top: 20px;
    text-align: center;
    vertical-align: middle;
}

.content {
    /*text-align: center;*/
    /*display: inline-block;*/
}

.title {
    font-size: 26px;
    font-weight: bold;
}
.temperature {
    /*width: 1297px;*/
    margin: 0 auto;
    padding-top: 20px;
    /*display: flex;*/
}
.temperature h3 {
    float: left;
    /*margin-top: 4px;*/

}
.temperature .values {
    width: 1297px;
    margin: 0 auto;
    padding-bottom: 20px;
    display: flex;
}
.temperature .values p {
    margin-top: 10px;
    /*display: block;*/
    /*width: 100px;*/
    /*height: 20px;*/
}

.mobile { display: none; }

.desktop, .mobile {
    margin-bottom: 40px;
}

@media screen and (min-width: 0px) and (max-width: 400px) {
    .mobile { display: block; }
    .desktop { display: none; }
}

@media screen and (min-width: 401px) and (max-width: 1024px) {
    .desktop { display: block; }
}